* {
    margin: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #5D5D5D;
}
a {
    text-decoration: none;
}
.navbar {
    background: #2A2A2A;
    height: 80px;
    text-align: center;
    line-height: 80px;
}
.menu-icon {
    position: absolute;
    top: 25px;
    left: 50px;
    width: 50px;
    height: 50px;
}
.menu-icon:before {
    content: '';
    display: block;
    margin: 1px auto;
    background: #ADADAD;
    width: 80%;
    height: 7px;
    border-radius: 10px;
    box-shadow: 0px 10px #ADADAD, 0px 20px #ADADAD;
}
.logo a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #ADADAD;
}
.menu, .menu ul, .menu li {
    display: block;
    list-style: none;
}
.menu {
    position: fixed;
    top: 80px;
    left: 0;
    width: 300px;
    background: #2A2A2A;
    border-top: 1px solid #393939;
    border-right: 1px solid #393939;
    border-bottom: 1px solid #393939;
    transform: translateX(-300px);
}
.menu-active {
    transform: translateX(0);
}
menu {
    transition: transform .3s;
}
.menu a {
    display: block;
    color: #ADADAD;
}
.menu a:hover {
    background: #181818;
}
@media (max-width: 576px) {
    .logo a {
        font-size: 0.7em;
    }
    .menu-icon {
        left: 20px;
        width: 35px;
        height: 35px;
    }
}
@media (max-width: 768px) {
    .logo a {
        font-size: 0.8em;
    }
    .menu-icon {
        left: 25px;
        width: 40px;
        height: 40px;
    }
}
@media (min-width: 992px) {
    .menu-icon {
        display: none;
    }
    .menu {
        position: relative;
        top: 0px;
        transform: translateX(0px);
        width: 100%;
        line-height: 40px;
    }
    .menu li {
        display: inline-block;
    }
    .menu a {
        padding: 0px 50px;
    }
}