* {
    margin: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #5D5D5D;
}
a {
    text-decoration: none;
}
.navbar {
    background: #2A2A2A;
    height: 80px;
    text-align: center;
    line-height: 80px;
}
.menu-icon {
    position: absolute;
    top: 25px;
    left: 50px;
    width: 50px;
    height: 50px;
}
.menu-icon:before {
    content: '';
    display: block;
    margin: 1px auto;
    background: #ADADAD;
    width: 80%;
    height: 7px;
    border-radius: 10px;
    box-shadow: 0px 10px #ADADAD, 0px 20px #ADADAD;
}
.logo a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #ADADAD;
}
.menu, .menu ul, .menu li {
    display: block;
    list-style: none;
}
.menu {
    position: fixed;
    top: 80px;
    left: 0;
    width: 300px;
    background: #2A2A2A;
    border-top: 1px solid #393939;
    border-right: 1px solid #393939;
    border-bottom: 1px solid #393939;
    transform: translateX(-300px);
}
.menu-active {
    transform: translateX(0);
}
menu {
    transition: transform .3s;
}
.menu a {
    display: block;
    color: #ADADAD;
}
.menu a:hover {
    background: #181818;
}
.container {
    width: 80%;
    margin: 100px auto 0px auto;
    background: #2A2A2A;
    color: #ADADAD;
    padding: 15px;
}
.row {
    display: flex;
}
.col {
    padding: 15px;
}
img.profile {
    width: 150px;
    height: 186px;
}
#slider a, #slider img {
    border: none;
}
#slider img {
    width: 100%;
}
.transicao {
    -webkit-transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
    -ms-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
}
#slider {
    position: relative; 
    z-index: 1;
}
#slider a { 
    position: absolute; 
    top: 0; 
    left: 0; 
    opacity: 0;
    filter: alpha(opacity=0);
}
.ativo {
    opacity: 1!important;
     filter: alpha(opacity=100)!important;
}
/* controladores */
figure span {
    background: #5D5D5D; 
    cursor: pointer; 
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    bottom: 40%; 
    width: 43px; 
    height: 43px; 
    z-index: 5;
}
.next {
    right: 10px;
}
.next:before, .next:after {
    left: 21px;
}
.next:before {
    -webkit-transform: rotate(-42deg);
    transform: rotate(-42deg);
    top: 5px;
}
.next:after {
    -webkit-transform: rotate(-132deg);
    transform: rotate(-132deg);
    top: 19px;
}
.next:before, .next:after, .prev:before, .prev:after {
    content: "";
    height: 20px;
    background: #ADADAD;
    width: 3px;
    position: absolute;
}
.prev {
    left: 10px;
}
.prev:before, .prev:after {
    left: 18px;
}
.prev:before {
    -webkit-transform: rotate(42deg);
    transform: rotate(42deg);
    top: 5px;
}
.prev:after {
    -webkit-transform: rotate(132deg);
    transform: rotate(132deg);
    top: 19px;
}
figure:hover span {
    opacity: 0.76;
    filter: alpha(opacity=76);
}
figure {
    max-width: 937px;
    height: 354px;
    position: relative;
    overflow: hidden;
    margin: 50px auto;
}
figcaption {
    padding-left: 20px;
    color: #ADADAD; 
    font-family: 'Roboto', sans-serif; 
    font-size: 22px; 
    background: rgba(42, 42, 42, 0.85); 
    width: 100%; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    line-height: 55px; 
    height: 55px; 
    z-index: 5
}
.formcontato {
    flex-direction: column;
    width: 400px;
}
.formcontato input {
    width: 300px;
    height: 50px;
    border: none;
    border-bottom: 3px solid #5D5D5D;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ADADAD;
	background-color: rgba(255, 255, 255, 0.0);
}
.formcontato ::-webkit-input-placeholder  {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgba(173, 173, 173, 0.5);
}
.formcontato input:-moz-placeholder {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgba(173, 173, 173, 0.5);
}
.formcontato input:focus {
    outline: 0;
}
.formcontato textarea {
    width: 300px;
    height: 200px;
    resize: vertical;
    border: none;
    border-bottom: 3px solid #5D5D5D;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ADADAD;
	background-color: rgba(255, 255, 255, 0.0);
}
.formcontato ::-webkit-textarea-placeholder  {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgba(173, 173, 173, 0.5);
}
.formcontato textarea:-moz-placeholder {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgba(173, 173, 173, 0.5);
}
.formcontato textarea:focus {
    outline: 0;
}
.formcontato button {
    background-color: #181818;
	border: none;
	color: #ADADAD;
	padding: 16px 32px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 4px 2px;
	cursor: pointer;
}
.formcontato button:focus {
    outline: 0;
}
.boxcontato {
    border-left: 6px solid #5D5D5D;
    background-color: #181818;
    padding: 10px;
}
@media (max-width: 576px) {
    .logo a {
        font-size: 0.6em;
    }
    .menu-icon {
        left: 15px;
        width: 30px;
        height: 30px;
    }
    .menu-icon:before {
        height: 4px;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .logo a {
        font-size: 0.8em;
    }
    .menu-icon {
        left: 25px;
        width: 40px;
        height: 40px;
    }
}
@media (min-width: 992px) {
    .menu-icon {
        display: none;
    }
    .menu {
        position: relative;
        top: 0px;
        transform: translateX(0px);
        width: 100%;
        line-height: 40px;
    }
    .menu li {
        display: inline-block;
    }
    .menu a {
        padding: 0px 50px;
    }
}